/* globals */

body {
	/* Flexbox declarations; display, flex-direction, min-height */
	display: flex;
	flex-direction: column; 
	min-height: 100vh;
	font-family: arial, sans-serif;

}
/*
	For flex- content, ordering is like so:
	flex-grow, flex-shrink, flex-basis
	so
	flex: 1 1 0
*/
.content-container { 
	/*flex-grow: 1;*/
	display: flex; /* apply flex rules to all containers within */
	flex: 1 1 auto;
	padding-top: 12vh; 
	width: 100%;
}

h1 {
  font-size: 7vw;
  margin-top: 0;
}

h4 { 
	/*font-size: 2em;*/
	color: #999;
	font-weight: bold; 
	text-transform: uppercase;
}

a { 
	/*color: #ff0000;*/
}

p { 
	line-height: 1.5;
	margin: 0.75em 0;
}



/* REGULAR STYLES */

/* header styles */
.header { 
	background-color: #12345d;
	color: #fff;
	position: fixed;
	width: 100%;
	z-index: 20;
}

.header-nav { 
	float: right; 
	padding: 5.5vh 60px 0 0;
}

.header-nav > li { /* only affects li directly in .header-nav and not subelements */
	display: inline-block;
	margin-left: 1em;
}

.header-nav > li ~ li { 
	border-left: 1px solid rgba(255, 255, 255, 0.9);
	padding-left: 1em;
}

.header-nav a { 
	color: #fff;
}

.nav-links a {
	font-size: 0.8rem;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
}

.nav-links a:hover, .nav-links a:active {
	color: #ed6e2f;
}
.header-logo:hover, .header-logo:active {
  	background-color: #14442f;
}

.nav-links a:hover, .nav-links a:active {
  	color: #ed6e2f;
}
.header-nav > li:first-child a {
  	color: #ed6e2f;
}
.header-nav > li:first-child a:hover {
  	color: #fff;
}

/* example to center a logo within the header */
/*.header-logo { 
	background-color: #000;
	left: 50%;
	position: absolute;
	top: 50%;
	/* this translates the left and top positioning to properly center the logo without 
	additinal CSS or duct taping or needing to recalculate if the logo size changes 
	transform: translate(-50%, -50%); 
}*/
.header-logo { 
	background-color: #000;
	box-sizing: border-box;
	display: block;
	height: 12vh;
	padding-top: 10px;
	position: relative;
	text-align: center;
	width: 12vh;
}

.header-logo img { 
	width: 10vh;
}


/* footer styles */
.footer { 
	background-color: #12345d;
	padding: 5vh 0 3vh;
	text-align: center;
}

.footer h3 { 
	color: #fff;
	padding-top: 1.5em;
}

.footer a { 
	text-decoration: none; 
}

.footer-nav li {
	display: inline-block;
	margin: 2em 1em 0;
}
.footer-nav a {
	color: #fff;
}


/* hero styles */
.full-hero { 
	background-color: #c7dbfc;
	background-size: cover; /* changes a background image so it fits within its container regardless of size */
	box-sizing: border-box;
	height: 88vh; /*size is the screen height */
	/* IMPORTANT: this padding-top style pushes the page content down so the header area isn't covering the top of 
	the container, since the z index of the header is set so high */
	padding-top: 12vh; 
	/* background-repeat: no-repeat; */
}

.full-hero:after { 
	bottom: 2vh; /* two vh up from the bottom */
	color: #ed6e2f;
	content: "﹀";
	font-size: 36px;
	left: 50%; /* centers it in element */
	position: absolute; /* forces the arrow to bottom of element (with 2vh away from it); relative here won't force it down and will screw with styling if used and vh manipulated to make it work */
	transform: translate(-50%, 0);
}

.hero-home { 
	background-image: url(/images/eclipse.jpg); /* see background-size above for how this image is sized */
	background-position: center top; /* changes the anchor point where browser resizes image */
}

.hero-content { 
	color: #fff;
	position: relative; /* relative to container it's in */
	text-align: center; 
	text-transform: uppercase;
	top: 50%; /* pushes container 50% down in parent container */
	transform: translate(0, -50%);
}

.hero-content h1 { 
	color: #ed6e2f;
	font-size: 7vh;
	margin-bottom: 0.25em;
}

.hero-content .social-link { 
	background-color: rgba(255, 255, 255, 0.8); 
	color: #557c83;
}

.hero-content .social-link:hover { 
	background-color: #000;
	color: #fff;
}

.half-hero { 
	background-position: center center; 
	background-size: cover; 
	height: 40vh;
}


/* social stlyes */
.social-link { 
	background: rgba(150, 150, 150, 0.5);
	border-radius: 99px; /* set in conjunction with .social-list > li to round containers */
	box-sizing: border-box;
	color: #ffcc17;
	display: inline-block;
	font-family: arial, sans-serif;
	font-size: 1rem;
	font-weight: bold;
	height: 2.5em;
	line-height: 1;
	padding-top: 0.85em;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	width: 2.5em;
}

.social-link a:hover { 
	background-color: #000;
}

.social-list { 
	list-style: none;
	padding: 0;
	text-align: center;	
}

.social-list > li { 
	display: inline-block;
	margin: 0 0.5em; 
}


/* homepage styles */
.home-selction { 
	margin: 5rem auto;
	max-width: 960px;
	/*width: 90vw;*/
}

.home-section h4 { 
	margin-bottom: 1.5rem;
	text-align: center;
	text-transform: uppercase;
}

.home-section > p { 
	margin: 1vh auto;
	width: 60vw;
}

.home-section h2 { 
	margin-bottom: 1.5rem;
	text-align: center;
}

.home-section h4 { 
	margin-bottom: 0.4em; 
	text-align: center; 
}

.home-section .post-header { 
	text-align: center; 
}

.home-section .blog-posts { 
	margin: auto; 
	margin-bottom: 10vh;
	width: 75%;
}

.home-callout { 
	display: flex; /* added to size and distribute containters evenly; should put the title on the left and corresponding text on the right */
	align-items: center; /* different sized containers within are centered within the parent div on a horizontal axis */
	background-color: #000;
  	color: #fff;
  	padding: 7vh 0;
}

.callout-title { 
	/* flex-grow: 1;
	flex-basis: 0; */
	flex: 1; /* this automatically sets flex-grow and -shrink to 1, and sets flex-basis to 0 */
	font-size: 5.5vw;
	text-align: right; 
	text-transform: uppercase; 
}

.callout-copy { 
	/*flex-shrink: 0;
	flex-basis: 45em;*/
	flex: 0 0 45em;
	padding: 0 3vh;
	font-size: 0.8rem;
}


/* bio styles */
.wrapper { 
	/* width: 500px; */
	background-color: lightgray;
	font-size: 24px;
	margin: auto;
	max-width: 960px;
	overflow: hidden;
}

.wrapper:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.box { 
    /* border: 1px solid black; */
    box-sizing: border-box;
    float: left;
    font-size: 1rem;
    margin: 6rem 0;
    padding: 0 3%;
    width: 33%; /* shrunk from 25% to account for the margin (-1% on each side)*/
}

.box h3 { 
	color: #fff;
	font-size: 1.5em;
	margin: -40px 0 1em;
	text-align: center;
	text-transform: uppercase;
}

.orange { 
	background-color: orange; 
}

.copy {
	font-size: 1em;
	/* line-height: 1.5em; */
}

.copy a {
	color: green;
	padding: 20px;
}


/* gallery column styles */
.col-three { 
	display: flex; /*initialize flex for the entire container, and so the col-s can actually flex around */
	/* allows growing prooprtional to window size, so columns always reach to the bottom of 
	the screen even with no content present
	--> note that .content-container MUST be set to display: flex for this to work */
	flex: 1; 
}

.col { 
	box-sizing: border-box;
	padding: 2em;
}

.col-three .col ~ .col { 
	border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.col-three .col-nav { 
	/* sets column to shrink but not grow and min width of 15 em */
	flex: 0 1 15em;
}

.col-three .col-content { 
	/* sets column to shrink and grow depending on window width, in as little space as possible */
	flex: 1 1 0;
}

.col-three .col-aside { 
	/* allows column to shrink but not grow with flex basis of 20 em */
	flex: 0 1 20em;
}

.gallery-thumbs { 
	height: 88vh;
	overflow: scroll;
}

.gallery-thumbs > div { 
	cursor: pointer;
}

.gallery-thumbs img { 
	box-sizing: border-box; 
	box-shadow: 0 0 0 5px transparent;
	display: inline-block;
	margin: 0 0 10px;
	opacity: 0.5;
	transition: all 0.5s ease-in-out; /* gradual opacity change */
	width: 100%;
}

.gallery-thumbs img:hover { 
	opacity: 1;
}

.gallery-thumbs .current img { 
	box-shadow: 0 0 0 5px #ed6e2f;
	opacity: 1;
}

.gallery-photo { 
	position: relative; 
	text-align: center;
}

..gallery-photo img { 
	width: 100%; 
}

.gallery-info {
  	font-size: 0.8rem;
}
.gallery-info h3 {
  	margin-bottom: 1em;
}


/* blog listing styles */

.col-two { 
	display: flex; 
}

.col-two .col-aside { 
	flex: 0 0 20em; /* set so aside won't grow or shrink */
	order: 1; /* arbitrarily controls where on a page an element is drawn */
}

.col-two .col-content { 
	flex: 1; 
}

.page { 
	margin: 10vh auto 15vh;
	max-width: 980px;
	width: 85vw;
}

.page h1 { 
	font-size: 2.7em; 
	margin-bottom: 1em; 
	text-align: center;
}

.page h2 { 
	margin-bottom: 0.7em; 
}

.page h4 { 
	margin-bottom: 1em; 
}


/* blog styles */

.blog-recent { 
	text-align: right; 
}

.blog-title-list { 
	list-style: none; 
	padding: 0;
}

.blog-title-list li ~ li { 
	margin-top: 1.4em;
}

.blog-title-list span { 
	color: #999; 
	display: block; 
	font-size: 0.9em; 
	font-style: italic; 
	margin-top: 0.5em; 
}

.blog-posts ~ .blog-posts { 
	border-top: 1px dashed rgba(0, 0, 0, 0.1);
	margin-top: 4em; 
	padding-top: 4em; 
} 

.blog-posts .post-header { 
	font-size: 0.9rem;
}

.post-header { 
	margin-bottom: 1.5em; 
}

.post-header h2 { 
	font-size: 2em;
}

.post-header img, .post-header .social-link { 
	margin-right: 0.5em; 
}

.post-header img { 
	border-radius: 99px; 
	display: inline-block; 
	height: 2em; 
	vertical-align: middle; 
} 

.posts-image { 
	background-position: center;
	background-size: cover; 
	height: 6em; 
	margin-bottom: 2em; 
}

	/* post specific styles */
.post { 
	width: 100%;
}

.post-content, .post-footer { 
	margin: auto;
	max-width: 40em; 
	width: 85vw;
}

.pull-left { /* style applied to images within a post */
	float: left;
	margin: 2em 2em 2em -2%;
}

.pull-right { /* style applied to images within a post */
	float: right; 
	margin: 2em -2% 2em 2em; 
} 

.post-aside { 
	background-color: rgba(0, 0, 0, 0.1);
	float: right;
	margin: 0 0 2em 2em; 
	padding: 2em; 
}

.post .post-header { 
	margin-bottom: 2.2em; 
	text-align: center;
}

.post-content { 
	font-size: 1rem;
}

.post-footer { 
	border-top: 1px solid rgba(0, 0, 0, 0.3);
	font-style: italic; 
	font-size: 0.7em; 
	margin-top: 2.5em; 
	padding-top: 2em; 
}



/* MEDIA QUERIES/SCREEN SIZE STYLES */
@media (max-width: 800px) { 
	html { 
		padding: 0;
	}

	/* media header styles */
	.header-nav { 
		padding: 2vh 1em 0 0;
	}

	.header-nav > li { /* reminder: this grabs only the first li in the nav list */
		margin-left: .2em;
	}

	.header-nav > li ~ li { 
		padding-left: .2em; 
	}

	.nav-links a { 
		font-size: 3.3vh;
	}

	.header-logo { 
		left: auto; 
	}


	/* media home styles */
	.home-callout { 
		flex-direction: column;
	}

	.callout-copy { 
		flex: 1; 
	}

	.box { 
		float: none; 
		font-size: 1.2rem; 
		width: auto; 
	}

	
	/* media blog styles */
	.post-aside { 
		display: none; 
	}

	.blog-recent { 
		display: none; 
	}

	.blog-previews { 
		padding: 0;
	}


	/* media gallery styles */
	.gallery { 
		flex-direction: column; /* change flex direction */
	}

	.gallery .col { 
		padding: 1em; /* reduce amount of padding */
	}

	.gallery .gallery-thumbs { 
		flex: 1; 
		height: auto; 
		white-space: nowrap; /* forces elements to stay on one line and not wrap to a new one when hitting the edge of the container */
		width: 100vw; /* horizontally scroll if many images */
	}

	.gallery-thumbs > div { /* expand to fill space */
		display: inline-block;
	}

	.gallery-thumbs img { 
		height: 7vh; 
		margin: 0 10px 0 0; 
		width: auto; 
	}

	.gallery .gallery-info { /* expand to fill space */
		flex: 1; 
	}

	.gallery-photo img { 
		width: 85vw; /* figure out where the missing 15vw is */
	}
}