a { 
	color: red;
}

#bio { 
	background-color: lightgray;
}

.bio-box { 
	border: 1px solid black;
}

.bio-box a { 
	color: green; 
}

.orange { 
	background-color: orange; 
}

.azure { 
	background-color: azure; 
}